<!--  This input handles a user's file upload for image. We hide the
default input and interact with it thanks to a js script -->
<input
        type="file"
        accept="image/"
        name="{{ widget.name }}"
        class="{{ widget.attrs.class }}"/>
<span>
    <button type="button" class="formTicket__customBlock__upload">
        Téléverser
    </button>

    {% if widget.value %}
        <!-- checkbox for removing the current file, it is hidden and
        interacted with thanks to a js script -->
        <input
                type="checkbox"
                name="{{ widget.checkbox_name }}"
                id="{{ widget.checkbox_id }}"
                style="display:none;"
                class="formTicket__checkbox" />
        <button type="button" class="formTicket__customBlock__delete">
            Supprimer
        </button>
        <span class="formTicket__customBlock__fileName">
            <a href="{{ widget.value.url }}">
                {{ widget.value.name }}
            </a>
        </span>
    {% else %}
        <span class="formTicket__customBlock__fileName">
            Ajouter une image
        </span>
    {% endif %}
</span>
