{% extends 'base.html' %}
{% load filter %}
{% block content %}
    <div class="postBlock">
        <h2 class="post_Block__title">Vos posts</h2>
        <div class="postBlock__feed">
            {% for instance in page_obj %}
                {% if instance|model_type == 'Ticket' %}
                    {% include 'litrevu/snippet_ticket.html' with ticket=instance %}
                {% elif instance|model_type == 'Review' %}
                    {% include 'litrevu/snippet_review.html' with review=instance %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include "litrevu/paginator_snippet.html" with page_obj=page_obj %}
{% endblock content %}