{%  extends 'base.html' %}
{#{% block scriptjs %}#}
{#    <script href="link">#}
{#{% endblock scriptjs %}#}
{% block content %}
    <div style="border: solid 2px black">
        <h2>Vous êtes en train de poster en réponse à</h2>
        <div>
            <div>
                {% include 'litrevu/snippet_ticket.html' with ticket=ticket %}
            </div>
        </div>
        <h2>Critique</h2>
        <form action ="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock content %}