{%  extends 'base.html' %}
{% block content %}
    <div>
        <h2>Vous êtes en train de poster en réponse à</h2>
            <div>
                {% include 'litrevu/snippet_ticket.html' with ticket=ticket hide_buttons=1 %}
            </div>
        <h2>Critique</h2>
        <form action ="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
        <hr>
        <form method="post" action="{% url 'review_delete' review.id %}">
            {% csrf_token %}
            <button type="submit">Supprimer</button>
        </form>
    </div>
{% endblock content %}