{% extends 'base.html' %}
{% block content %}
    <div class="subscriptionPage">
        <div class="newRelationBlock">
            <h2 class="newRelationBlock__title">Suivre d'autres utilisateurs</h2>
            <form method="POST" action="{% url 'follow' %}" class="newRelationBlock__form">
                {% csrf_token %}
                {{ follow_form.as_p }}
                <button name="follow_submit" type="submit" role="button" class="newRelationBlock__button">Envoyer</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    {% if 'follow_message' in  message.extra_tags %}
                        <p class="errorMessage">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="relationBlock">
            <h2 class="relationBlock__title">Abonnements</h2>
            <table class="relationBlock__table">
            {% for follow in followed %}
                <tr class="relationBlock__tr">
                    <td class="relationBlock__td">
                        {{ follow.followed_user.username }}
                    </td>
                    <td class="relationBlock__td relationBlock__td--button">
                        <form method="post" 
                              action="{% url 'follow_delete' follow.id %}"
                              class="relationBlock__form">
                            {% csrf_token %}
                            <button name="follow_delete_submit"
                                    role="button"
                                    type="submit"
                                    class="relationBlock__button">
                            Se désabonner
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="relationBlock">
            <h2 class="relationBlock__title">Abonnés</h2>
            <table class="relationBlock__table">
            {% for follow in following %}
                <tr class="relationBlock__tr">
                    <td class="relationBlock__td">
                        {{ follow.user.username }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="newRelationBlock">
            <h2 class="newRelationBlock__title">Blocker d'autres utilisateurs</h2>
            <form method="POST" action="{% url 'block' %}"  class="newRelationBlock__form">
                {% csrf_token %}
                {{ block_form.as_p }}
                <button name="block_submit" type="submit" role="button" class="newRelationBlock__button">Bloquer</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    {% if 'block_message' in  message.extra_tags %}
                        <p class="errorMessage">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="relationBlock">
            <h2 class="relationBlock__title">Utilisateurs blockés</h2>
            <table class="relationBlock__table">
            {% for block in blocked %}
                <tr class="relationBlock__tr">
                    <td class="relationBlock__td">
                        {{ block.blocked_user.username }}
                    </td>
                    <td class="relationBlock__td relationBlock__td--button">
                        <form method="post" 
                              action="{% url 'block_delete' block.id %}"
                              class="relationBlock__form">
                            {% csrf_token %}
                            <button name="block_delete_submit"
                                    role="button"
                                    type="submit"
                                    class="relationBlock__button">
                            Débloquer
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}