{%  extends 'base.html' %}
{% load static %}
{% block scriptjs %}
    <script src="{% static 'js/customBrowse.js' %}" defer></script>
    <script src="{% static 'js/customRating.js' %}" defer></script>
{% endblock scriptjs %}
{% block content %}
    <div class="formTicket">
        <h2 class="formTicket__type">Créer une critique</h2>
        <form method="post" enctype="multipart/form-data" class="formTicket__form">
            {% csrf_token %}
            {{ ticket_form.as_p }}
            {% csrf_token %}
            {{ review_form.as_p }}
            <div class="formReview__stars">
                <span class="formReview__stars__elem fa-stop" onclick="gfg(0)"></span>
                <span class="formReview__stars__elem fa-star" onclick="gfg(1)"></span>
                <span class="formReview__stars__elem fa-star" onclick="gfg(2)"></span>
                <span class="formReview__stars__elem fa-star" onclick="gfg(3)"></span>
                <span class="formReview__stars__elem fa-star" onclick="gfg(4)"></span>
                <span class="formReview__stars__elem fa-star" onclick="gfg(5)"></span>
            </div>
            <div class="formReview__action">
                <button type="submit" role="button" class="formReview__button">Envoyer</button>
            </div>
        </form>
    </div>
    
{% endblock content %}