{% extends 'base.html' %}
{%  block content %}
    <div class="loginPage">
        <div class="loginPage__container">
            <div class="registerBlock">
                <h2 class="registerBlock__title">Inscrivez-vous maintenant</h2>
                <button role="button" onclick="location.href='{% url 'signup' %}'"
                        class="registerBlock__button">
                    S'inscrire</button>
            </div>
            <div class="loginBlock">
            <h2 class="loginBlock__title">Connectez-vous</h2>
                <form method="post" class="loginBlock__form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button role="button" type="submit" class="loginBlock__button">Se connecter</button>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="errorMessage">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{%  endblock content %}