{% extends 'base.html' %}
{% block content %}
    <div class="signupPage">
        <div class="signupPage__container">
            <h2 class="signupPage__title">Inscrivez-vous</h2>
            <form class="signupPage__form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="signupPage__blockButton">
                    <button type="button" role="button" onclick="location.href='{% url 'login' %}'"
                            class="signupPage__button">Retourner</button>
                    <button type="submit" role="button" class="signupPage__button">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}