html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, a, button {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #FFF1E5;
  color: #00100B;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7D6B91;
  height: 5rem;
  position: relative;
  width: 100%;
  color: #00100B;
}
.navbar__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 5rem;
  color: #FFF1E5;
  text-shadow: rgba(0, 16, 11, 0.5) 3px 3px;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
  justify-content: flex-end;
}
.navbar__li {
  transition: transform 100ms;
  padding: 2px 0;
}
.navbar__li:hover {
  padding: 1px 0;
  transform: translateY(-2px);
}
.navbar__link {
  text-decoration: none;
  color: #FFF1E5;
  font-weight: 600;
  font-size: 20px;
}
.navbar__link:hover, .navbar__active {
  color: #FB5607;
}

.homeBlock {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.homeBlock__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0 3rem 0;
  /* button */
}
.homeBlock__top__button {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}
.homeBlock__top__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #F4DECB;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.homeBlock__top__button span {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #00100B;
}
.homeBlock__top__button svg {
  visibility: hidden;
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #FFF1E5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.homeBlock__top__button:hover:before {
  width: 100%;
  background: #FB5607;
}
.homeBlock__top__button:hover svg {
  visibility: visible;
  transform: translateX(0);
}
.homeBlock__top__button:hover span {
  color: #FFF1E5;
}
.homeBlock__top__button:active {
  transform: scale(0.95);
}
.homeBlock__feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Style for myauth/login.html */
.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);
}
.loginPage__container {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
}
.loginPage .registerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loginPage .registerBlock__button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.loginPage .registerBlock__button:disabled {
  pointer-events: none;
}
.loginPage .registerBlock__button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.loginPage .registerBlock__button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}
.loginPage .loginBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loginPage .loginBlock__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.loginPage .loginBlock__input {
  all: unset;
  padding: 1rem 2rem;
  border: 1px solid #00100B;
  border-radius: 3px;
  font-size: 20px;
  box-sizing: border-box;
}
.loginPage .loginBlock__button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  align-self: end;
}
.loginPage .loginBlock__button:disabled {
  pointer-events: none;
}
.loginPage .loginBlock__button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.loginPage .loginBlock__button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}

/* Style for myauth/signup.html */
.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5rem);
}
.signupPage__container {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}
.signupPage__title {
  align-self: center;
  padding: 0 0 2rem 0;
}
.signupPage__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}
.signupPage__input {
  all: unset;
  padding: 1rem 2rem;
  border: 1px solid #00100B;
  border-radius: 3px;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.signupPage__blockButton {
  display: flex;
  align-self: end;
  gap: 1rem;
}
.signupPage__button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.signupPage__button:disabled {
  pointer-events: none;
}
.signupPage__button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.signupPage__button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}

/* Style for litrevu/subscription.html */
.subscriptionPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  width: 100%;
}
.subscriptionPage .newRelationBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  min-width: 65%;
}
.subscriptionPage .newRelationBlock__title {
  text-align: center;
}
.subscriptionPage .newRelationBlock__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subscriptionPage .newRelationBlock__form p {
  flex: 1;
}
.subscriptionPage .newRelationBlock__input {
  all: unset;
  padding: 1rem 2rem;
  border: 1px solid #00100B;
  border-radius: 3px;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.subscriptionPage .newRelationBlock__button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.subscriptionPage .newRelationBlock__button:disabled {
  pointer-events: none;
}
.subscriptionPage .newRelationBlock__button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.subscriptionPage .newRelationBlock__button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}
.subscriptionPage .relationBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  min-width: 70%;
}
.subscriptionPage .relationBlock__title {
  text-align: center;
}
.subscriptionPage .relationBlock__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #00100B;
}
.subscriptionPage .relationBlock__form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.subscriptionPage .relationBlock__td {
  padding: 0.8rem 1.5rem;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #00100B;
  font-size: 16px;
}
.subscriptionPage .relationBlock__td--button {
  width: 15%;
  white-space: nowrap;
  background-color: #F4DECB;
  color: #00100B;
  cursor: pointer;
  transition: all 0.3s ease;
}
.subscriptionPage .relationBlock__td--button:hover {
  transform: scale(1.1);
  background-color: #FB5607;
  color: #FFF1E5;
  border: none;
}
.subscriptionPage .relationBlock__button {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: inherit;
  cursor: pointer;
  text-align: center;
}

/* style for post.html */
.postBlock {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
}
.postBlock__title {
  text-align: center;
}
.postBlock__feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* style for ticket_snippet.html */
.ticket {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F4DECB;
  border-top: 0;
  border-radius: 5px;
  gap: 1rem;
  box-shadow: rgba(0, 16, 11, 0.5) 3px 3px;
  padding-bottom: 1rem;
}
.ticket__type {
  text-align: center;
  padding: 1rem;
  background-color: #7D6B91;
  color: #FFF1E5;
  text-shadow: rgba(0, 16, 11, 0.5) 2px 1px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
}
.ticket__body {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  margin: 0 1rem;
}
.ticket__imageBlock {
  flex-shrink: 0;
  width: 25%;
  height: 100%;
}
.ticket__imageBlock img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.ticket__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ticket__content h3 {
  font-size: 24px;
}
.ticket__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticket__details p {
  font-style: italic;
  opacity: 0.7;
}
.ticket__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0 1rem;
}
.ticket__actions .ticket__button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  min-height: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.ticket__actions .ticket__button:disabled {
  pointer-events: none;
}
.ticket__actions .ticket__button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.ticket__actions .ticket__button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}

.review {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F4DECB;
  border-top: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 16, 11, 0.5) 3px 3px;
}
.review__type {
  text-align: center;
  padding: 1rem;
  background-color: #7D6B91;
  color: #FFF1E5;
  text-shadow: rgba(0, 16, 11, 0.5) 2px 1px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
}
.review__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.review__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.review__details p {
  font-style: italic;
  opacity: 0.7;
}
.review__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}
.review__actions .review__button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  min-height: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.review__actions .review__button:disabled {
  pointer-events: none;
}
.review__actions .review__button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.review__actions .review__button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}
.review__ticket {
  border: 1px solid #00100B;
  border-radius: 5px;
}
.review__ticket .ticket {
  padding-top: 1rem;
}
.review__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.review__content h3 {
  font-size: 24px;
}

.fa-star {
  display: inline-block;
  -webkit-mask-image: url("/mystatic/images/star-svgrepo-com.svg");
  mask-image: url("/mystatic/images/star-svgrepo-com.svg");
  background-color: #00100B;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  vertical-align: bottom;
}
.fa-star.checked {
  background-color: #FB5607;
}

.fa-stop {
  display: inline-block;
  -webkit-mask-image: url("/mystatic/images/stop-sign-svgrepo-com.svg");
  mask-image: url("/mystatic/images/stop-sign-svgrepo-com.svg");
  background-color: red;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  vertical-align: bottom;
}
.fa-stop.checked {
  background-color: red;
}

.formTicket {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 75%;
}
.formTicket__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formTicket p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formTicket p label {
  font-weight: 600;
  font-size: 20px;
}
.formTicket__type {
  text-align: center;
}
.formTicket__title {
  outline: none;
  background-color: #FFF1E5;
  border: solid 1px #00100B;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 2px;
  font-family: inherit;
}
.formTicket__description {
  outline: none;
  background-color: #FFF1E5;
  border: solid 1px #00100B;
  font-size: 16px;
  resize: vertical;
  padding: 0.5rem;
  border-radius: 2px;
  font-family: inherit;
}
.formTicket__hidden {
  display: none;
}
.formTicket__action {
  display: flex;
}
.formTicket__action button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-left: auto;
}
.formTicket__action button:disabled {
  pointer-events: none;
}
.formTicket__action button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.formTicket__action button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}
.formTicket__customBlock__upload {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  min-height: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.formTicket__customBlock__upload:disabled {
  pointer-events: none;
}
.formTicket__customBlock__upload:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.formTicket__customBlock__upload:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}
.formTicket__customBlock__delete {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  min-height: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.formTicket__customBlock__delete:disabled {
  pointer-events: none;
}
.formTicket__customBlock__delete:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.formTicket__customBlock__delete:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}

.formReview {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 75%;
}
.formReview__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formReview p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formReview p label {
  font-weight: 600;
  font-size: 20px;
}
.formReview__type {
  text-align: center;
}
.formReview__action {
  display: flex;
}
.formReview__action button {
  appearance: none;
  background-color: #FB5607;
  border: transparent;
  border-radius: 15px;
  color: #FFF1E5;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3rem;
  min-width: 0;
  outline: none;
  padding: 1.2rem 2.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-left: auto;
}
.formReview__action button:disabled {
  pointer-events: none;
}
.formReview__action button:hover {
  color: #FFF1E5;
  background-color: #FB5607;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.formReview__action button:active {
  box-shadow: none;
  transform: translateY(0) scale(0.95);
}
.formReview__title {
  outline: none;
  background-color: #FFF1E5;
  border: solid 1px #00100B;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 2px;
  font-family: inherit;
}
.formReview__body {
  outline: none;
  background-color: #FFF1E5;
  border: solid 1px #00100B;
  font-size: 16px;
  resize: vertical;
  padding: 0.5rem;
  border-radius: 2px;
  font-family: inherit;
}
.formReview__hidden {
  display: none;
}
.formReview__stars__elem:hover {
  cursor: pointer;
}

.errorlist li, .errorMessage {
  color: red;
  font-style: italic;
  list-style-type: none;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-radius: 9999px;
  overflow: hidden;
  background-color: #7D6B91;
  color: #FFF1E5;
  font-size: 16px;
}
.paginator__start, .paginator__end {
  display: flex;
  gap: 0.5rem;
}
.paginator__start.disabled a, .paginator__end.disabled a {
  pointer-events: none;
  cursor: default;
  background-color: transparent;
}
.paginator__start.disabled a:hover, .paginator__end.disabled a:hover {
  background-color: transparent;
}
.paginator__middle {
  margin: 0 1rem;
}
.paginator a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7D6B91;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.paginator a:hover {
  background-color: transparent;
}
.paginator img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  background-color: transparent;
  filter: invert(95%) sepia(3%) saturate(2131%) hue-rotate(316deg) brightness(99%) contrast(110%);
}
.paginator a:hover img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(68%) saturate(3873%) hue-rotate(351deg) brightness(93%) contrast(113%);
}

/*# sourceMappingURL=style.css.map */
