{% extends 'base.html' %}
{% load static %}
{% block scriptjs %}
    <script src="{% static 'js/customRating.js' %}" defer></script>
{% endblock scriptjs %}
{% block content %}
    <div class="formReview">
        <h2 class="formReview__type">Vous êtes en train de poster en réponse à</h2>
        <div class="formReview__ticket">
            {% include 'litrevu/snippet_ticket.html' with ticket=ticket current_review=True %}
        </div>
        <h2 class="formReview__type">Critique</h2>
        <form action ="" method="post" enctype="multipart/form-data" class="formReview__form">
            {% csrf_token %}
            {{ form.as_p }}
            <div aria-label="Star notation" role="radiogroup" class="formReview__stars">
                <span aria-label="0 star" role=radio tabindex=0 class="formReview__stars__elem fa-stop"></span>
                <span aria-label="1 star" role=radio tabindex=0 class="formReview__stars__elem fa-star"></span>
                <span aria-label="2 stars" role=radio tabindex=0 class="formReview__stars__elem fa-star"></span>
                <span aria-label="3 stars" role=radio tabindex=0 class="formReview__stars__elem fa-star"></span>
                <span aria-label="4 stars" role=radio tabindex=0 class="formReview__stars__elem fa-star"></span>
                <span aria-label="5 stars" role=radio tabindex=0 class="formReview__stars__elem fa-star"></span>
            </div>
            <div class="formReview__action">
                <button type="submit" role="button" class="formReview__button">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock content %}